<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>


<body>

    <%- include('./partials/nav.ejs') %>


    <div class="about-contnet">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam tempore corporis officia, soluta dolor inventore at eaque incidunt quae consequuntur, porro praesentium eveniet qui aliquam voluptas suscipit dignissimos iusto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolore numquam commodi quae similique iste, ad ullam quas aut pariatur laborum fugit, assumenda esse velit provident magnam consequuntur perferendis ex?</p>
    </div>
    <%- include('./partials/footer.ejs')%>

</body>

</html>